// Imports
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

// Variables

// Colors
$clr-desaturated-red: hsl(0, 36%, 70%);
$clr-soft-red: hsl(0, 93%, 68%);

$dark-grayish-red: hsl(0, 6%, 24%);

// Gradients
$gradient-clr-1: hsl(0, 0%, 100%), hsl(0, 100%, 98%);
$gradient-clr-2: hsl(0, 80%, 86%), hsl(0, 74%, 74%);

// Mixin for Gradient
@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}
// @include gradient(135deg, $gradient-clr-2);

$font-primary: "Josefin Sans", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
}

main {
  flex: auto;
  display: grid;
  place-items: center;
  width: 100%;

  .hero-section {
    .hero-heading {
    }

    .hero-description {
    }
    form {
      input {
      }
      button {
      }
    }
  }
}

footer {
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
