// Imports
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

// Variables

// Colors
$clr-primary-soft-orange: hsl(35, 77%, 62%);
$clr-primary-soft-red: hsl(5, 85%, 63%);

$clr-off-white: hsl(36, 100%, 99%);
$clr-grayish-blue: hsl(233, 8%, 79%);
$clr-dark-grayish-blue: hsl(236, 13%, 42%);
$clr-very-dark-blue: hsl(240, 100%, 5%);

// Font
$font-primary: "Inter", sans-serif;

// Grid
$grid-gap: 1rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
  padding: 0 2rem;
}

// Header Component Styling
header.main-header {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;

  .brand-logo {
  }

  .nav-items {
    ul {
      display: flex;
      list-style: none;
      text-decoration: none;
      gap: 2rem;
      li {
        a {
          color: $clr-dark-grayish-blue;
        }
        a:link {
        }
        a:visited {
        }
        a:hover {
        }
        a:active {
        }
      }
    }
  }
}

// Main Component Styling
main {
  flex: auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header-news header-news  new-news"
    "header-news header-news  new-news" "header-news header-news  new-news"
    "popular-news popular-news popular-news";

  // Heading News Container
  .heading-news-container {
    grid-area: header-news;
    display: flex;
    flex-direction: column;
    .news-heading-image {
      flex: 1;
      grid-area: image;
      background: url("./assets/images/image-web-3-desktop.jpg");
    }

    .heading-news-content {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .news-heading {
      }

      .new-content {
        .head-news-description {
        }

        .read-more-button {
        }
      }
    }
  }

  // New News Container
  .new-news-container {
    grid-area: new-news;

    .new-news-header {
    }

    .new-news-items {
      .new-item {
        .new-news-item-heading {
        }

        .new-news-item-description {
        }
      }
    }
  }

  // Popular News Container
  .popular-news-container {
    grid-area: popular-news;

    .popular-news-item {
      // Can change to before/after css
      .counter {
      }

      .popular-news-heading {
      }

      .popular-news-content {
      }
    }
  }
}

footer {
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
