// Viewports
$mobile: 375px;
$desktop: 1440px;

// Primary Colors
$primary-dark: hsl(158, 36%, 37%);
$primary-light: hsl(30, 38%, 92%);

// Neutral Colors
$neutral-dark: hsl(212, 21%, 14%);
$neutral-dark-light: hsl(228, 12%, 48%);
$neutral-light: hsl(0, 0%, 100%);

// Typography Size
$font-small: 14px;

// Typography family
$font-family-primary: "Montserrat", sans-serif;
$font-family-secondary: "Fraunces", serif;

// Typography Weights
$font-normal: 500;
$font-bold: 700;
