// Viewports
$mobile: 375px;
$desktop: 1440px;

// Primary Colors
$clr-primary-dark: hsl(158, 36%, 20%);
$clr-primary: hsl(158, 36%, 37%);
$clr-primary-light: hsl(30, 38%, 92%);

// Neutral Colors
$clr-neutral-dark: hsl(212, 21%, 14%);
$clr-neutral-dark-light: hsl(228, 12%, 48%);
$clr-neutral-light: hsl(0, 0%, 100%);

// Typography Size
$font-small: 14px;

// Typography family
$font-family-primary: "Montserrat", sans-serif;
$font-family-secondary: "Fraunces", serif;

// Typography Weights
$font-normal: 500;
$font-bold: 700;

// Border radius
$border-radius: 10px;
$border-radius-top: $border-radius $border-radius 0px 0;
$border-radius-left: $border-radius 0 0 $border-radius;
